
/* navbar */

.navbar{
  height: 63px;
  background-color: red;
}
.custom-bg {
  background-color: #3498db; 
}
a{
  color: #333;
  font-size: 1.1rem;
}
a:hover{
  color: #2fc0b7;
}

.inputcolor{
  color: #252c4d;
}
.serach{
  color: #252c4d;
}
.inputsize{
  width: 300px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
