
/* navbar */
.navbar{
  height: 63px;
  background-color: red;
}
.custom-bg {
  background-color: #3498db; 
}
a{
  color: #333;
  font-size: 1.1rem;
}
a:hover{
  color: #2fc0b7;
}

.inputcolor{
  color: #252c4d;
}
.serach{
  color: #252c4d;
}
.inputsize{
  width: 300px;
}
.footer {
  position: fixed;
  bottom: -100px;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(8px);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 8px;
  height: 56px;
  transition: .5s
}