
/* Navbar */
.navbar{
  height: 63px;
}
a{
  color: #333;
  font-size: 1.1rem;
}
a:hover{
  color: #2fc0b7;
}

.inputcolor{
  color: #252c4d;
}
.serach{
  color: #252c4d;
}
.inputsize{
  width: 300px;
}

/* Footer */
footer {
  background-color: #f9f9f9;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-links {
  background-color: rgb(229, 230, 234);
  height: 40px;
  line-height: 40px;
  padding: 0 10px; /* Add padding to ensure links are not touching the edges */
}

.footer-links a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  color: #2fc0b7;
}

.footer-text {
  color: #333;
}

